<%= link_to article do %>
  <div id="<%= dom_id article %>" class="article">
    <h5 class="title">
      <%= truncate(article.title, length: 30, omission: '...') %>
    </h5>
    <p class="body">
      <%= truncate(article.body, length: 100, omission: '...') %>
    </p>
  </div>
<% end %>
