<%= link_to article do %>
  <div id="<%= dom_id article %>" class="article">
    <h5 class="title">
      <%= article.title %>
    </h5>
    <p class="body">
      <%= article.body %>
    </p>
  </div>
<% end %>
