<div id='analytics'>
  <h1>User Queries Analytics</h1>
  <% if @user_queries.present? %>
    <ul>
      <% @user_queries.each do |query| %>
        <li>↪ <%= query.query %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No user queries available.</p>
  <% end %>

</div>

<%= link_to "Back to articles", articles_path, class: 'neutral' %>
