<p style="color: green"><%= notice %></p>

<div id='single_article'>
  <div class="article">
    <h5 class="title">
      <%= @article.title %>
    </h5>
    <p class="body">
      <%= @article.body %>
    </p>
  </div>

  <div>
    <%= link_to "Back to articles", articles_path, class: 'neutral' %>
  </div>
</div>
