* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

header form {
  margin: 0;
}

header form button {
  /* background-color: #fff; */
  border-radius: 0.25rem;
  /* color: #000; */
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1.4rem;
}

header form button:hover {
  background-color: #000;
  color: #fff;
}

main {
  padding: 1.5rem;
}

main form {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

form input[type='text'],
input[type='password'],
form textarea {
  background-color: #282828;
  border: 0;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 40rem;
  color: #fff;
}

form input[type='text']:focus,
form textarea:focus {
  outline: 1px solid rgb(90, 157, 205);
}

form input[type='submit'] {
  background-color: #343434;
  border: 0;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.6rem 1.4rem;
  margin-left: 5%;
  width: 10rem;
}

main form input[type='text'] {
  max-width: unset;
}

main form input[type='submit']:hover {
  background-color: #707070;
}

button,
a {
  font-size: 1rem;
  margin-left: 0.5rem;
  padding: 0.5rem 1.4rem;
  border-radius: 0.25rem;
  text-align: center;
  display: grid;
  place-items: center;
  width: fit-content;
  color: #fff;
  border: 0;
}

.safe,
button.safe {
  background-color: #227908;
}

a.safe:hover,
button.safe:hover {
  background-color: #135000;
}

a.danger,
button.danger {
  background-color: #b91c1c;
}

a.danger:hover,
button.danger:hover {
  background-color: #950202;
}

a.neutral,
button.neutral {
  background-color: #343434;
}

a.neutral:hover,
button.neutral:hover {
  background-color: #707070;
}

main #articles {
  margin: 4rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

main #articles a {
  color: #fff;
  text-decoration: none;
}

main #articles a:hover {
  color: #fff;
}

main #articles .article {
  background-color: #000;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  height: 10rem;
  max-width: 350px;
  text-align: left;
}

main #articles .article .title {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

main #articles .article .body {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

main #articles .article:hover {
  background-color: #121212;
}

#articles > p {
  display: none;
}

#articles > #articles {
  margin: 0 0;
}

/* new article page */
#new-article h1 {
  padding-left: 0;
  margin: 0;
}

form > div {
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
}

#new-article form {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#new-article form label {
  display: block;
}

#new-article form textarea {
  height: 10rem;
}

#new-article form input[type='text']:focus,
#new-article form textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px #fff;
}

#new-article form input[type='text']::placeholder,
#new-article form textarea::placeholder {
  color: #fff;
}

/* article page */
#single_article {
  margin: 0;
  padding: 0;
}

#single_article .article {
  background-color: #000;
  border-radius: 0.25rem;
  padding: 1rem;
  height: fit-content;
  margin-bottom: 2rem;
}

#single_article .article .title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#single_article .article .body {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* analytics page */
#analytics {
  display: grid;
  gap: 1rem;
  background-color: #282828;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

#analytics h1 {
  font-size: 1.2rem;
}

#analytics ul {
  list-style: none;
  font-size: 0.9rem;
}

#analytics ul li {
  margin-bottom: 1rem;
}

/* registration forms */
form#new_user {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form#new_user label {
  display: block;
}

form#new_user input[type='submit']:hover {
  background-color: #707070;
}

form#new_user em {
  display: none;
}

form#new_user .field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form#new_user .field input {
  max-width: 30rem !important;
}

form#new_user .actions input[type='submit'] {
  margin-left: 0;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 0 1rem;
  }

  header form {
    margin-bottom: 1rem;
  }

  header form input[type='text'] {
    margin-bottom: 1rem;
  }

  main form {
    flex-direction: column;
  }

  main form input[type='text'],
  main form textarea {
    max-width: 100%;
  }

  main form input[type='submit'] {
    margin-left: 0;
  }

  main #articles {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  main #articles .article {
    height: 8rem;
  }

  main #articles .article .title {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  main #articles .article .body {
    font-size: 0.6rem;
    line-height: 0.8rem;
  }
}
